body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00ff00;
  }

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
}

@media (max-width: 768px) {
  main {
    max-width: 100%;
    padding: 1rem;
  }
}
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 240px;
    background-color: #000;
    padding: 20px;
    border-right: 1px solid #00ff00;
  }
  
  .sidebar h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    color: #00ff00;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-shadow: 0 0 5px #00ff00;
  }
  
  .content {
    flex: 1;
    padding: 40px;
  }
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  a {
    color: #00ff00;
  }

  .intro_icon {
    height: 128px;
    width: 128px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .name-title {
    text-align: center;
  }
 
  .project_image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }